net:
  port: '16104'
processManagement:
  fork: true
security:
  keyFile: /etc/mongodb/mongo.key
sharding:
  configDB: #Need to add config host groups here
systemLog:
  destination: syslog
  verbosity: 1
net:
  port: '16104'
processManagement:
  fork: true
security:
  keyFile: /etc/mongodb/mongo.key
sharding:
  configDB: #Need to add config host groups here
systemLog:
  destination: syslog
  verbosity: 1
