net:
  port: '16104'
processManagement:
  fork: true
security:
  keyFile: /etc/mongodb/mongo.key
sharding:
  configDB: iad1cfg0-0vz104.iad1.objectrocket.com:16104,iad1cfg0-1vz104.iad1.objectrocket.com:16104,iad1cfg0-2vz104.iad1.objectrocket.com:16104
systemLog:
  destination: syslog
  verbosity: 1
net:
  port: '16104'
processManagement:
  fork: true
security:
  keyFile: /etc/mongodb/mongo.key
sharding:
  configDB: iad1cfg0-0vz104.iad1.objectrocket.com:16104,iad1cfg0-1vz104.iad1.objectrocket.com:16104,iad1cfg0-2vz104.iad1.objectrocket.com:16104
systemLog:
  destination: syslog
  verbosity: 1
